@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

$font-family-base: 'Roboto', sans-serif;

// Custom colors
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary":    $primary,
  "secondary":     $secondary,
  "grey":      #6c757d,
);

$custom-colors: (
  "bluemodal": rgb(76, 87, 156)
);

$theme-colors: map-merge($theme-colors, $custom-colors);


// Custom width

$custom-spacing: (
    6: 6rem,
    7: 7rem,
    8: 8rem,
    9: 9rem,
    10: 10rem,
);

$spacers: map-merge($spacers, $custom-spacing);

// Custom tabs

$nav-link-color: #838181;
$nav-tabs-border-color: #838181;
$nav-tabs-link-active-border-color: $secondary;
$nav-tabs-border-width: 0px;
$nav-link-hover-color: $secondary;

.tab-top {
  @include media-breakpoint-down(md) {
    border-top: 3px solid #83818189;
  }
}

.tab-bottom {
    border-bottom: 3px solid #83818189;
}

.nav-tabs .nav-link.active {
  --bs-nav-tabs-border-width: 3px;
}

// Blue rectangle

.image-container {
  position: relative;
}

.custom-image {
  width: 100%;
  height: auto;
}

.rectangle {
  position: absolute;
  top: 23%;
  right: 0%;
  width: 65%;
  height: 80%;
  background-color: $primary;
  z-index: -1;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}

.rectangle-2 {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 65%;
  height: 90%;
  background-color: $primary;
  z-index: -1;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.rectangle-3 {
  position: absolute;
  top: 30%;
  left: 0%;
  width: 65%;
  height: 79%;
  background-color: $primary;
  z-index: -1;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

// Custom cards

.card-h {
  @include media-breakpoint-up(md) {
    height: 40em;
  }
}

// Custom accordion

$accordion-button-icon: url(img/icon-arrow.svg);
$accordion-button-active-icon: url(img/icon-arrow-2.svg);

$accordion-button-focus-border-color: none;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;

// Custom form
$form-feedback-icon-invalid: url(img/icon-error.svg);

// $form-invalid-color: $secondary;
// $form-invalid-border-color: $secondary;

// $form-feedback-margin-top:          $form-text-margin-top;
// $form-feedback-font-size:           $form-text-font-size;
// $form-feedback-font-style:          $form-text-font-style;
// $form-feedback-invalid-color:       $secondary;

.invalid-text {
  padding: 0px
}

@import "node_modules/bootstrap/scss/bootstrap";