@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$font-family-base: 'Roboto', sans-serif;

// Custom colors
$primary: #5265E1;
$secundary: #FA5959;

$theme-colors: (
  "primary":    $primary,
  "secundary":     $secundary
);

$custom-colors: (
  "bluemodal": rgb(76, 87, 156)
);

$theme-colors: map-merge($theme-colors, $custom-colors);

// Custom width


$custom-spacing: (
    6: 6rem,
    7: 7rem,
    8: 8rem,
    9: 9rem,
    10: 10rem,
);

$spacers: map-merge($spacers, $custom-spacing);

// // Custom border size

// $custom-b-width: (
//   tiny: 0.5px
// );

// $border-widths: map-merge($border-widths, $custom-b-width);

@import "node_modules/bootstrap/scss/bootstrap";