@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$font-family-base: 'Roboto', sans-serif;

// Custom colors
$primary: #5265E1;
$secondary: #FA5959;

$theme-colors: (
  "primary":    $primary,
  "secondary":     $secondary,
  "grey":      #6c757d,
);

$custom-colors: (
  "bluemodal": rgb(76, 87, 156)
);

$theme-colors: map-merge($theme-colors, $custom-colors);


// Custom width

$custom-spacing: (
    6: 6rem,
    7: 7rem,
    8: 8rem,
    9: 9rem,
    10: 10rem,
);

$spacers: map-merge($spacers, $custom-spacing);

// Custom tabs

$nav-link-color: #838181;
$nav-link-active-color: black;

$nav-underline-link-active-color: black;
$nav-underline-gap: 0rem;
$nav-underline-border-width: 0.150rem;



@import "node_modules/bootstrap/scss/bootstrap";